node_modules/
build/
*.log
.env*

# Ignore database files
memory.db
memory.db-shm
memory.db-wal
package-lock.json
.clinerules/
test/
knowledge_graphs/
.qodo/
vector_store.db
vector_store.db-shm
vector_store.db-wal
.blackboxrules
.vincent/
.vscode/
history/